.water-container {
    top: 0px;
    left: 0px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
    background: transparent;
    transform: translate(0, 0);
    z-index: 100;
    transition: 3000ms transform;
}

.water-container img {
    height: auto;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    max-height: 100vh;
    z-index: 10;
}





.water-container .liquid {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: transparent;
  font-size: 64px;
}
.water-container .water {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  background: #fff;
  display: flex;
  align-items: center;
}
.water-container .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.water-container .water_wave_back {
  right: 0;
  fill: #C7EEFF;
  -webkit-animation: wave-back 1.4s infinite linear;
          animation: wave-back 1.4s infinite linear;
}
.water-container .water_wave_front {
  left: 0;
  fill: #fff;
  margin-bottom: -1px;
  -webkit-animation: wave-front .7s infinite linear;
          animation: wave-front .7s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }
}

.no-animation {
    animation: none !important;
}

.move-water {
  animation-duration: 5000ms;
  animation-name: move-water;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  
}

@keyframes move-water {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 120%);
    }

}

.move-water-up {
  animation-duration: 3000ms;
  animation-name: move-water-up;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  /* transform: translate(0, 20%) !important; */
}

.move-water-down {
  animation-duration: 3000ms;
  animation-name: move-water-down;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
  /* transform: translate(0, 20%) !important; */
}

@keyframes move-water-up {
    0% {
        transform: translate(0, 120%)
    }

    100% {
        transform: translate(0, 7%);
    }

}

@keyframes move-water-down {
    0% {
        transform: translate(0, 10%)
    }

    100% {
        transform: translate(0, 120%);
    }

}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    80%, 100% {
        opacity: 1;
    }

}
.fade-in {
    /* animation-delay: 200ms; */
    animation-duration: 3000ms;
    animation-name: fadein;
    /* animation-iteration-count: 1; */
    animation-fill-mode: forwards;
}

.splash-image {
    opacity: 0;
}